src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cece0672-e8f5-4edf-8c6b-866036406854" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="6ff6b476-a6d0-480f-90ed-6b2619eeaeed" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="e83f03b5-20bd-47a4-9c74-1441a2693566" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellomuleFlow" doc:id="2d000bfa-1be7-4dab-b2f7-df09cefc3827" >
		<http:listener doc:name="Listener" doc:id="5626ea2a-d54f-4037-91eb-eccfa4222c54" config-ref="HTTP_Listener_config2" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="76510c44-9054-41ba-92f8-e04c2007e3d5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

output application/json
---
"hi " ++ payload.name ++ " you are working for a " ++ payload.org]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
